html{
	scroll-behavior: smooth;
}

body{
	background:url("https://i.ibb.co/9WDRqSd/back-1.jpg");
    background-size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: large;
}

nav {
    width: 100%;
    height: 80px;
    background-color:white;
    padding: 0 1rem;
    position: fixed;
}

#navbar-logo {
    padding-left: 16px;
    padding-top: 13px;
    margin: 0;
}

#batas{
    color: white;
    text-align: center;
    padding-top: 30px;
}

a {
	text-decoration: none;
	color: black;
}

ul {
    list-style-type: none;
    float: right;    
    padding-bottom: 20px;
}

#info_utama{
    display: flex;
    padding-top: 80px;
}

nav ul li {
	display: inline-block;
    padding-right: 40px;
    padding-top: 10px;
    font-size: 20px;
    color:rgb(19, 116, 103);
}

#identitas{
    width: 50%;
    text-align: justify;
    font-size: large;
    color: white;
    padding-left: 45px;
    padding-top: 120px;
}


#identitas p{
    padding-top: 0;
    padding-right: 36px;
}

#gambar {
    width: 50%;
    padding-top: 30px;
}

#gambar img{
    padding-left: 36px; 
    width: 80%;
}

.call-me {
    padding: 12px 48px;
    font-style: inherit;
    background-color: rgb(255, 252, 52);
    color: rgb(19, 116, 103);
    margin-top: 16px;
    border-radius: 32px;
    transition: 0.3s;
    
}

.call-me:hover {
    box-shadow: 0px 5px 5px #c60633;
    background-color: white;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

#seksi-2main{
    display: flex;
}

#seksi-2a{
    width: 33%;
    
    font-size: large;
    color: white;
    padding-left: 10%;
    padding-top: 120px;
}

#seksi-2b{
    width: 33%;
    text-align: justify;
    font-size: large;
    color: white;
    padding-left: 10%;
    padding-top: 120px;
}

#seksi-2c{
    width: 33%;
    text-align: justify;
    font-size: large;
    color: white;
    padding-left: 10%;
    padding-top: 120px;
}

#teks-seksi{
    text-align: center;
}

#closing{
    margin: 30% auto;
}